// Debugging tool. If variable $debugging is set to true, add outline.
@mixin divOutline {
	@if($debugging) {
		outline: 1px solid black;
	}
}
@mixin boxShadow {
	box-shadow: 0 0 5px #333;
}
@mixin textShadow {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
@mixin fontFace($font-name, $size-em, $weight, $color) {
	font-family: $font-name;
	font-size: $size-em + em;
	font-weight: $weight;
	color: $color;
}